blockquote {
    line-height: unset;
}

.content article *:not(figcaption) > p {
    /* text-align: unset; */
    text-indent: 5%;
}

main {
    background-image: url(../images/background.png);
}